/* ------------------------------------------------------------------------- *
 *  Toggle Sidebar s1 : medium screens
/* ------------------------------------------------------------------------- */

@media only screen and (min-width: 479px) and (max-width: 960px) {
	/* s1 general */
	.s1 {
		width: 50px;
	}

	.s1 .sidebar-content {
		display: none;
		float: left;
		width: 100%;
	}

	.s1 .sidebar-toggle {
		display: block;
	}

	/* s1 expand/collapse */
	.s1-expand .s1 {
		background: #f2f2f2;
		bottom: 0;
		margin: 0 !important;
		overflow: auto;
		position: absolute;
		top: 0;
		transition: width .2s ease;
		width: 340px;
		z-index: 9;
	}

	.s1-expand .s1 .sidebar-content,
	.s1-expand .s1 .post-nav {
		display: block;
		min-width: 340px;
	}

	.s1-collapse .s1 .sidebar-content,
	.s1-collapse .s1 .sidebar .post-nav {
		display: none;
	}


	/* 2 column, content left */
	.col-2cl .main {
		background-image: url(img/sidebar/s-right-collapse.png);
		padding-right: 50px;
	}

	.col-2cl .s1 {
		margin-right: -50px;
	}

	.col-2cl.s1-expand .s1 {
		box-shadow: -3px 0 3px rgba(0, 0, 0, 0.05);
		right: 0;
	}
}


/* ------------------------------------------------------------------------- *
 *  Mobile (Mid Res) : 719px > 0px (480px & 320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 719px) {

	/* layout */
	.grid {
		margin: 0 0 10px;
		width: 100%;
	}

	/* hide */
	.image-caption {
		display: none;
	}

	/* base */
	.pad,
	.pad.post-content,
	.pad.format-container {
		padding: 15px 10px 5px;
	}

	.page-image-text {
		margin-top: -15px;
	}

	.page-image-text .caption {
		font-size: 26px;
		line-height: 30px;
	}

	/* blog */
	.content .post-nav li {
		width: 100%;
	}

	.content .post-nav li:first-child {
		border-bottom: 2px solid #e5e5e5;
	}

	.content .post-nav li a {
		min-height: 0;
		padding-left: 24px;
		padding-right: 24px;
	}
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Low Res) : 479px > 0 (320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* layout */
	.content,
	.sidebar {
		float: none !important;
		width: 100%;
	}

}
